.schedule-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
    /* text-align: center; */
    
}

.row {
    
    display: flex;
    
    height: auto;
    min-width: auto;
    
  }
  
  /* p, div {
    padding: 10px;
  } */

.schedule-form {
    display: flex;
}

.location {
    flex: 1;
    padding: 0 1rem;
}

.schedule {
    flex: 2;
    padding: 0.5rem 0;
}

.time-date {
    flex: 1;
    padding: 0 1rem;
}

.info {
    flex: 1;
    padding: 0 1rem;
}


/* === left ======================= */

.image-container {
    max-width: 100%; /* Set maximum width to 100% of its container */
    margin: 0 auto; 
    overflow: hidden; 
  }
  
img {
    width: 100%; /* Set image width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure image behaves like a block element */
}


/* === TODO: middle, time-slots =================== */
.time-slots {
  display: none;
}

.time-slot {
  float: left;
  margin-bottom: 5px;
  vertical-align: top;
  border: 1px solid #03045E;
  margin: 5px;
  /* padding: 5px; */
  width: calc(20% - 12.5px);
  box-sizing: border-box;
}

#time-slots {
  /* display: flex; */
  flex-wrap: wrap;
  overflow: hidden;
}



/* === right======================= */

input[type=text], input[type=date], input[type=time], input[type=tel], input[type=email], select, textarea, [type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  color: #ADB5BD;
}

input[type=checkbox] {
  margin-top: 16px;
}


